// @describe validate-unit()

// @it Validate 'unit' keyword
validate-unit(10px, 'unit')
// @expect

// @it Validate 'length' keyword
validate-unit(10px, 'length')
// @expect

// @it Validate 'length' keyword
validate-unit(10px, 'length')
// @expect

// @it Validate 'relative' keyword
validate-unit(10em, 'relative')
// @expect

// @it Validate 'relative' units: 'em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin'
validate-unit(10em, 'em')
validate-unit(10ex, 'ex')
validate-unit(10ch, 'ch')
validate-unit(10rem, 'rem')
validate-unit(10vw, 'vw')
validate-unit(10vh, 'vh')
validate-unit(10vmin, 'vmin')
// @expect

// @it Validate 'absolute' keyword
validate-unit(10px, 'absolute')
// @expect

// @it Validate 'absolute' units: 'cm' 'mm' 'in' 'pt' 'pc' 'px'
validate-unit(10cm, 'cm')
validate-unit(10mm, 'mm')
validate-unit(10in, 'in')
validate-unit(10pt, 'pt')
validate-unit(10pc, 'pc')
validate-unit(10px, 'px')
// @expect

// @it Validate 'angle' keyword
validate-unit(10deg, 'angle')
// @expect

// @it Validate 'angle' units: 'deg' 'grad' 'rad' 'turn'
validate-unit(10deg, 'deg')
validate-unit(10grad, 'grad')
validate-unit(10rad, 'rad')
validate-unit(10turn, 'turn')
// @expect

// @it Validate 'time' keyword
validate-unit(10s, 'time')
// @expect

// @it Validate 'time' units: 's' 'ms'
validate-unit(10s, 's')
validate-unit(10ms, 'ms')
// @expect

// @it Validate 'frequency' keyword
validate-unit(10Hz, 'frequency')
// @expect

// @it Validate 'frequency' units: 'Hz' 'kHz'
validate-unit(10Hz, 'Hz')
validate-unit(10kHz, 'kHz')
// @expect

// @it Validate 'resolution' keyword
validate-unit(10dpi, 'resolution')
// @expect

// @it Validate 'resolution' units: 'dpi' 'dpcm' 'dppx' 'x'
validate-unit(10dpi, 'dpi')
validate-unit(10dpcm, 'dpcm')
validate-unit(10dppx, 'dppx')
validate-unit(10x, 'x')
// @expect

// @it Validate 'percentage' keyword
validate-unit(10%, 'percentage')
// @expect

// @it Validate 'percentage' units: '%'
validate-unit(10%, '%')
// @expect

// @it Validate against multiple unit types ('px' 'em' '%')
validate-unit(12px, 'px' 'em' '%')
// @expect

// @it Validate against multiple keywords ('absolute' 'frequency' 'percentage')
validate-unit(12%, 'absolute' 'frequency' 'percentage')
// @expect

// @it Validate against mixed units and keywords ('absolute' 'em' 'frequency' 'dpi')
validate-unit(12px, 'absolute' 'em' 'frequency' 'dpi')
// @expect
