// @describe validate-string()

// @it Validate standard string
validate-string('test') is true
// @expect

// @it Validate concatinated string
validate-string('test with' + ' concatination') is true
// @expect

// @it Validate ident instead of string when $allow-ident == true
validate-string(test, true) is true
// @expect
