//
// VALIDATE STRING
// ===============
//


validate-string($test, $allow-ident = false)

  if typeof($test) == 'string'
    p()

  else if typeof($test) == 'ident' && $allow-ident == true
    p()

  else
    error('Expected string, got ' + -string($test))
