//
// VALIDATE COLOR
// ==============
//


validate-color($test)

  if type($test) == 'rgba' || type($test) == 'hsla'
    p()

  else if type($test) == 'ident' && $test == transparent
    p()

  else
    error('Expected a color, got a ' + -string($test))
